*
{
    margin: 0;
}
.child-1
{
    background: url("../images/bg1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.child-2
{
    background: url("../images/bg2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.child-3
{
    background: url("../images/bg3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.child-4
{
    background: url("../images/bg4.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}